$flaticon_vroom-icons-font: "flaticon_vroom-icons";

@font-face {
    font-family: $flaticon_vroom-icons-font;
    src: url("./flaticon_vroom-icons.woff2?16917a3e2345b2d12036d756b45dd357") format("woff2"),
url("./flaticon_vroom-icons.woff?16917a3e2345b2d12036d756b45dd357") format("woff"),
url("./flaticon_vroom-icons.eot?16917a3e2345b2d12036d756b45dd357#iefix") format("embedded-opentype"),
url("./flaticon_vroom-icons.ttf?16917a3e2345b2d12036d756b45dd357") format("truetype"),
url("./flaticon_vroom-icons.svg?16917a3e2345b2d12036d756b45dd357#flaticon_vroom-icons") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_vroom-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_vroom-icons-map: (
    "placeholder": "\f101",
    "arrowhead-pointing-to-the-right": "\f102",
    "eye": "\f103",
    "facebook": "\f104",
    "twitter-1": "\f105",
    "checked": "\f106",
    "quote": "\f107",
    "man-with-bag-and-walking-stick": "\f108",
    "expertise": "\f109",
    "experience": "\f10a",
    "rating": "\f10b",
    "coffee": "\f10c",
    "compass": "\f10d",
    "hot-air-balloon": "\f10e",
    "send-1": "\f10f",
    "view": "\f110",
    "youtube": "\f111",
    "social": "\f112",
    "motorway": "\f113",
    "racing": "\f114",
    "danger": "\f115",
    "bell": "\f116",
    "menu-1": "\f117",
    "language": "\f118",
    "reply": "\f119",
    "download": "\f11a",
    "recovered": "\f11b",
    "clock-1": "\f11c",
    "telephone": "\f11d",
    "pin": "\f11e",
    "calendar-1": "\f11f",
    "clock": "\f120",
    "paper-plane": "\f121",
    "arroba": "\f122",
    "trophy": "\f123",
    "volume": "\f124",
    "main-menu": "\f125",
    "personal": "\f126",
    "label": "\f127",
    "tag": "\f128",
    "calendar": "\f129",
    "check-mark-1": "\f12a",
    "play-2": "\f12b",
    "share-2": "\f12c",
    "arrow-3": "\f12d",
    "arrow-2": "\f12e",
    "arrow-1": "\f12f",
    "right-1": "\f130",
    "arrow": "\f131",
    "mail": "\f132",
    "user-1": "\f133",
    "apple-logo": "\f134",
    "windows": "\f135",
    "document": "\f136",
    "home": "\f137",
    "close-1": "\f138",
    "comment": "\f139",
    "iphone": "\f13a",
    "play-1": "\f13b",
    "play-button": "\f13c",
    "play": "\f13d",
    "right-quote": "\f13e",
    "left-quote": "\f13f",
    "left": "\f140",
    "right": "\f141",
    "up-arrow-1": "\f142",
    "up-arrows": "\f143",
    "up-arrow": "\f144",
    "arrow-up": "\f145",
    "down-arrow": "\f146",
    "close": "\f147",
    "visualization": "\f148",
    "dots-menu": "\f149",
    "menu": "\f14a",
    "share-1": "\f14b",
    "share": "\f14c",
    "left-arrow": "\f14d",
    "back": "\f14e",
    "next-1": "\f14f",
    "next": "\f150",
    "islam": "\f151",
    "snapchat": "\f152",
    "tik-tok": "\f153",
    "whatsapp": "\f154",
    "behance": "\f155",
    "dribbble-logo": "\f156",
    "pinterest": "\f157",
    "linkedin": "\f158",
    "twitter": "\f159",
    "shopping-bag": "\f15a",
    "shopping-cart-1": "\f15b",
    "shopping-cart": "\f15c",
    "envelope": "\f15d",
    "maps-and-flags": "\f15e",
    "minus": "\f15f",
    "plus": "\f160",
    "phone": "\f161",
    "smartphone": "\f162",
    "call": "\f163",
    "phone-call": "\f164",
    "check-mark": "\f165",
    "padlock": "\f166",
    "read": "\f167",
    "star-1": "\f168",
    "star": "\f169",
    "globe": "\f16a",
    "user": "\f16b",
    "search-interface-symbol": "\f16c",
    "send": "\f16d",
    "up-right-arrow": "\f16e",
);

.flaticon-placeholder:before {
    content: map-get($flaticon_vroom-icons-map, "placeholder");
}
.flaticon-arrowhead-pointing-to-the-right:before {
    content: map-get($flaticon_vroom-icons-map, "arrowhead-pointing-to-the-right");
}
.flaticon-eye:before {
    content: map-get($flaticon_vroom-icons-map, "eye");
}
.flaticon-facebook:before {
    content: map-get($flaticon_vroom-icons-map, "facebook");
}
.flaticon-twitter-1:before {
    content: map-get($flaticon_vroom-icons-map, "twitter-1");
}
.flaticon-checked:before {
    content: map-get($flaticon_vroom-icons-map, "checked");
}
.flaticon-quote:before {
    content: map-get($flaticon_vroom-icons-map, "quote");
}
.flaticon-man-with-bag-and-walking-stick:before {
    content: map-get($flaticon_vroom-icons-map, "man-with-bag-and-walking-stick");
}
.flaticon-expertise:before {
    content: map-get($flaticon_vroom-icons-map, "expertise");
}
.flaticon-experience:before {
    content: map-get($flaticon_vroom-icons-map, "experience");
}
.flaticon-rating:before {
    content: map-get($flaticon_vroom-icons-map, "rating");
}
.flaticon-coffee:before {
    content: map-get($flaticon_vroom-icons-map, "coffee");
}
.flaticon-compass:before {
    content: map-get($flaticon_vroom-icons-map, "compass");
}
.flaticon-hot-air-balloon:before {
    content: map-get($flaticon_vroom-icons-map, "hot-air-balloon");
}
.flaticon-send-1:before {
    content: map-get($flaticon_vroom-icons-map, "send-1");
}
.flaticon-view:before {
    content: map-get($flaticon_vroom-icons-map, "view");
}
.flaticon-youtube:before {
    content: map-get($flaticon_vroom-icons-map, "youtube");
}
.flaticon-social:before {
    content: map-get($flaticon_vroom-icons-map, "social");
}
.flaticon-motorway:before {
    content: map-get($flaticon_vroom-icons-map, "motorway");
}
.flaticon-racing:before {
    content: map-get($flaticon_vroom-icons-map, "racing");
}
.flaticon-danger:before {
    content: map-get($flaticon_vroom-icons-map, "danger");
}
.flaticon-bell:before {
    content: map-get($flaticon_vroom-icons-map, "bell");
}
.flaticon-menu-1:before {
    content: map-get($flaticon_vroom-icons-map, "menu-1");
}
.flaticon-language:before {
    content: map-get($flaticon_vroom-icons-map, "language");
}
.flaticon-reply:before {
    content: map-get($flaticon_vroom-icons-map, "reply");
}
.flaticon-download:before {
    content: map-get($flaticon_vroom-icons-map, "download");
}
.flaticon-recovered:before {
    content: map-get($flaticon_vroom-icons-map, "recovered");
}
.flaticon-clock-1:before {
    content: map-get($flaticon_vroom-icons-map, "clock-1");
}
.flaticon-telephone:before {
    content: map-get($flaticon_vroom-icons-map, "telephone");
}
.flaticon-pin:before {
    content: map-get($flaticon_vroom-icons-map, "pin");
}
.flaticon-calendar-1:before {
    content: map-get($flaticon_vroom-icons-map, "calendar-1");
}
.flaticon-clock:before {
    content: map-get($flaticon_vroom-icons-map, "clock");
}
.flaticon-paper-plane:before {
    content: map-get($flaticon_vroom-icons-map, "paper-plane");
}
.flaticon-arroba:before {
    content: map-get($flaticon_vroom-icons-map, "arroba");
}
.flaticon-trophy:before {
    content: map-get($flaticon_vroom-icons-map, "trophy");
}
.flaticon-volume:before {
    content: map-get($flaticon_vroom-icons-map, "volume");
}
.flaticon-main-menu:before {
    content: map-get($flaticon_vroom-icons-map, "main-menu");
}
.flaticon-personal:before {
    content: map-get($flaticon_vroom-icons-map, "personal");
}
.flaticon-label:before {
    content: map-get($flaticon_vroom-icons-map, "label");
}
.flaticon-tag:before {
    content: map-get($flaticon_vroom-icons-map, "tag");
}
.flaticon-calendar:before {
    content: map-get($flaticon_vroom-icons-map, "calendar");
}
.flaticon-check-mark-1:before {
    content: map-get($flaticon_vroom-icons-map, "check-mark-1");
}
.flaticon-play-2:before {
    content: map-get($flaticon_vroom-icons-map, "play-2");
}
.flaticon-share-2:before {
    content: map-get($flaticon_vroom-icons-map, "share-2");
}
.flaticon-arrow-3:before {
    content: map-get($flaticon_vroom-icons-map, "arrow-3");
}
.flaticon-arrow-2:before {
    content: map-get($flaticon_vroom-icons-map, "arrow-2");
}
.flaticon-arrow-1:before {
    content: map-get($flaticon_vroom-icons-map, "arrow-1");
}
.flaticon-right-1:before {
    content: map-get($flaticon_vroom-icons-map, "right-1");
}
.flaticon-arrow:before {
    content: map-get($flaticon_vroom-icons-map, "arrow");
}
.flaticon-mail:before {
    content: map-get($flaticon_vroom-icons-map, "mail");
}
.flaticon-user-1:before {
    content: map-get($flaticon_vroom-icons-map, "user-1");
}
.flaticon-apple-logo:before {
    content: map-get($flaticon_vroom-icons-map, "apple-logo");
}
.flaticon-windows:before {
    content: map-get($flaticon_vroom-icons-map, "windows");
}
.flaticon-document:before {
    content: map-get($flaticon_vroom-icons-map, "document");
}
.flaticon-home:before {
    content: map-get($flaticon_vroom-icons-map, "home");
}
.flaticon-close-1:before {
    content: map-get($flaticon_vroom-icons-map, "close-1");
}
.flaticon-comment:before {
    content: map-get($flaticon_vroom-icons-map, "comment");
}
.flaticon-iphone:before {
    content: map-get($flaticon_vroom-icons-map, "iphone");
}
.flaticon-play-1:before {
    content: map-get($flaticon_vroom-icons-map, "play-1");
}
.flaticon-play-button:before {
    content: map-get($flaticon_vroom-icons-map, "play-button");
}
.flaticon-play:before {
    content: map-get($flaticon_vroom-icons-map, "play");
}
.flaticon-right-quote:before {
    content: map-get($flaticon_vroom-icons-map, "right-quote");
}
.flaticon-left-quote:before {
    content: map-get($flaticon_vroom-icons-map, "left-quote");
}
.flaticon-left:before {
    content: map-get($flaticon_vroom-icons-map, "left");
}
.flaticon-right:before {
    content: map-get($flaticon_vroom-icons-map, "right");
}
.flaticon-up-arrow-1:before {
    content: map-get($flaticon_vroom-icons-map, "up-arrow-1");
}
.flaticon-up-arrows:before {
    content: map-get($flaticon_vroom-icons-map, "up-arrows");
}
.flaticon-up-arrow:before {
    content: map-get($flaticon_vroom-icons-map, "up-arrow");
}
.flaticon-arrow-up:before {
    content: map-get($flaticon_vroom-icons-map, "arrow-up");
}
.flaticon-down-arrow:before {
    content: map-get($flaticon_vroom-icons-map, "down-arrow");
}
.flaticon-close:before {
    content: map-get($flaticon_vroom-icons-map, "close");
}
.flaticon-visualization:before {
    content: map-get($flaticon_vroom-icons-map, "visualization");
}
.flaticon-dots-menu:before {
    content: map-get($flaticon_vroom-icons-map, "dots-menu");
}
.flaticon-menu:before {
    content: map-get($flaticon_vroom-icons-map, "menu");
}
.flaticon-share-1:before {
    content: map-get($flaticon_vroom-icons-map, "share-1");
}
.flaticon-share:before {
    content: map-get($flaticon_vroom-icons-map, "share");
}
.flaticon-left-arrow:before {
    content: map-get($flaticon_vroom-icons-map, "left-arrow");
}
.flaticon-back:before {
    content: map-get($flaticon_vroom-icons-map, "back");
}
.flaticon-next-1:before {
    content: map-get($flaticon_vroom-icons-map, "next-1");
}
.flaticon-next:before {
    content: map-get($flaticon_vroom-icons-map, "next");
}
.flaticon-islam:before {
    content: map-get($flaticon_vroom-icons-map, "islam");
}
.flaticon-snapchat:before {
    content: map-get($flaticon_vroom-icons-map, "snapchat");
}
.flaticon-tik-tok:before {
    content: map-get($flaticon_vroom-icons-map, "tik-tok");
}
.flaticon-whatsapp:before {
    content: map-get($flaticon_vroom-icons-map, "whatsapp");
}
.flaticon-behance:before {
    content: map-get($flaticon_vroom-icons-map, "behance");
}
.flaticon-dribbble-logo:before {
    content: map-get($flaticon_vroom-icons-map, "dribbble-logo");
}
.flaticon-pinterest:before {
    content: map-get($flaticon_vroom-icons-map, "pinterest");
}
.flaticon-linkedin:before {
    content: map-get($flaticon_vroom-icons-map, "linkedin");
}
.flaticon-twitter:before {
    content: map-get($flaticon_vroom-icons-map, "twitter");
}
.flaticon-shopping-bag:before {
    content: map-get($flaticon_vroom-icons-map, "shopping-bag");
}
.flaticon-shopping-cart-1:before {
    content: map-get($flaticon_vroom-icons-map, "shopping-cart-1");
}
.flaticon-shopping-cart:before {
    content: map-get($flaticon_vroom-icons-map, "shopping-cart");
}
.flaticon-envelope:before {
    content: map-get($flaticon_vroom-icons-map, "envelope");
}
.flaticon-maps-and-flags:before {
    content: map-get($flaticon_vroom-icons-map, "maps-and-flags");
}
.flaticon-minus:before {
    content: map-get($flaticon_vroom-icons-map, "minus");
}
.flaticon-plus:before {
    content: map-get($flaticon_vroom-icons-map, "plus");
}
.flaticon-phone:before {
    content: map-get($flaticon_vroom-icons-map, "phone");
}
.flaticon-smartphone:before {
    content: map-get($flaticon_vroom-icons-map, "smartphone");
}
.flaticon-call:before {
    content: map-get($flaticon_vroom-icons-map, "call");
}
.flaticon-phone-call:before {
    content: map-get($flaticon_vroom-icons-map, "phone-call");
}
.flaticon-check-mark:before {
    content: map-get($flaticon_vroom-icons-map, "check-mark");
}
.flaticon-padlock:before {
    content: map-get($flaticon_vroom-icons-map, "padlock");
}
.flaticon-read:before {
    content: map-get($flaticon_vroom-icons-map, "read");
}
.flaticon-star-1:before {
    content: map-get($flaticon_vroom-icons-map, "star-1");
}
.flaticon-star:before {
    content: map-get($flaticon_vroom-icons-map, "star");
}
.flaticon-globe:before {
    content: map-get($flaticon_vroom-icons-map, "globe");
}
.flaticon-user:before {
    content: map-get($flaticon_vroom-icons-map, "user");
}
.flaticon-search-interface-symbol:before {
    content: map-get($flaticon_vroom-icons-map, "search-interface-symbol");
}
.flaticon-send:before {
    content: map-get($flaticon_vroom-icons-map, "send");
}
.flaticon-up-right-arrow:before {
    content: map-get($flaticon_vroom-icons-map, "up-right-arrow");
}
